/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.phpunit.result.cache
.idea
.bash_history
.package-lock.json
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
package-lock.json
